style.css

@font-face{
src:url("PressStart2P-Regular.ttf");
font-family: "PS";
}

body{
	font-family: "PS";
}	

.box {width: 250px; height: 20px; }
.box2 {width: 250px; }
.box3 {width: 250px; font-size: 13px }

li {
	list-style-type: none;
}
