style.css

@font-face{font-family: 'OCRAStd';
			src: url(../font/OCRAStd);}

.box {width: 250px; height: 20px; }
.box2 {width: 250px; }
.box3 {width: 250px; font-size: 13px }

li {
	list-style-type: none;
}